<div class="main-container w-full h-[250px] pt-14">
  <div class="footer w-full flex justify-center">
    <div class="w-full flex flex-col items-center justify-between">
      <h1>Connect with me on:</h1>
      <div class="logos flex w-1/6 justify-around pt-6">
        <div class="insta">
          <img class="w-[40px] h-[40px]" src="/assets/images/instagram.png" alt="">
        </div>
        <div class="git">
          <img class="w-[40px] h-[40px]" src="/assets/images/github.png" alt="">
        </div>
        <div class="linkedin">
          <img class="w-[40px] h-[40px]" src="/assets/images/linkedin.png" alt="">
        </div>
      </div>
      <div class="pt-10">
        <p>Made with ♥️ by Abhishek !</p>
      </div>
    </div>
  </div>
</div>
