<section #about class="sec-2 main-container h-full w-full px-20 flex justify-center mt-[25px] pt-[25px]" id="about">
  <div class="content w-full flex flex-col items-center ">
    <h1 class=" main text-[40px] font-semibold pb-8">About Me</h1>

     <div class=" about px-20">
        <div class=" one font-thin text-[18px] pb-10 text-justify text-[#9B9CA1]">{{paraOne}}</div>
        <div class=" two font-thin text-[18px] pb-10 text-justify text-[#9B9CA1]">{{paraTwo}}</div>
     </div>
  </div>
</section>
