<div class="main-container w-full h-full font-thin flex justify-center">
  <div class="navbar w-4/12 flex justify-between pt-10 ">
    <div>
      <a class="cursor-pointer text-[#9B9CA1]" href="#about">About Me</a>
    </div>
    <div>
      <a class="cursor-pointer text-[#9B9CA1]" href="#works">My Works</a>
    </div>
    <div>
      <a class="cursor-pointer text-[#9B9CA1]" href="#skills">Skills</a>
    </div>
    <div>
      <a class="cursor-pointer text-[#9B9CA1]" href="#contact">Contact Me</a>
    </div>
  </div>
</div>
