<div class="main-container h-full w-full px-20 flex justify-center mt-[50px]">
  <div class="content w-full flex flex-col items-center h-full">
    <h1 class="text-[40px] font-normal text-[#01FFBB] pb-8">Contact me 📞</h1>
    <p class="font-extralight text-[20px] pb-10 text-justify">Feel free to reach out, whether it's to discuss a project, share knowledge, or just chat about all things tech!</p>
    <p class="font-extralight text-[20px] pb-10 text-justify">Let's connect and embark on this exciting tech journey together! 🚀</p>

     <div class="contactForm w-full flex flex-col items-center">
        <div class="flex items-center gap-2">
          <label for="" class="font-extralight">Name</label>
          <input type="text" class="rounded-[8px] w-[300px] h-[40px]">
        </div>
        <div class="flex items-center gap-2">
          <label for="" class="font-extralight">Email</label>
          <input type="email" class="rounded-[8px] w-[300px] h-[40px]">
        </div>
        <div class="flex items-center gap-2">
          <label for="" class="font-extralight">Message</label>
          <input type="text" class="rounded-[8px] w-[300px] h-[40px]">
        </div>
     </div>
  </div>
</div>

