.main{
  /* background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(20, 170, 148)); */
  background: -webkit-linear-gradient(rgb(255, 255, 255), #9B9CA1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
