<div class="main-container text-white w-full h-hull">
  <app-navbar></app-navbar>
  <div class="frame flex gap-4 justify-between w-full pt-[100px] px-20">
    <div class="text h-[618.3px] flex flex-col justify-end pl-20 w-4/6">
        <div>
          <p class="text-[30px] font-normal">Hello 👋, I'm</p>
          <h1 class="main text-[100px] font-semibold">Abhishek <br> Mohan<span class="pl-5 text-[#01FFBB]">A</span></h1>
          <!-- <ngx-typed-js [strings]="['Abhishek Mohan A']" [showCursor]="false" [typeSpeed]="80">
            <h1 class="typing text-[100px] font-semibold"></h1>
          </ngx-typed-js> -->
        </div>
        <div class="pt-[30px]">
          <!-- <p class="text-[40px] font-semibold text-[#01FFBB]">Software Engineer</p> -->
          <ngx-typed-js [strings]="['Software Engineer','Frontend Developer','Passionate Rider','Hodophile','Fitness Freak']" [showCursor]="false" [backSpeed]="25" [loop]="true">
            <h1 class="typing text-[40px] font-semibold text-[#01FFBB] h-[30px]"></h1>
          </ngx-typed-js>
          <p class="font-extralight text-[24px] pt-[50px] pr-16">{{tagline}}</p>
        </div>

    </div>

    <div class="memoji h-[618.3px] pt-12 w-2/6">
      <img width="631px" height="618.3px" src="assets/images/memoji1.png" alt="">
    </div>
  </div>

  <div class="reach pl-40 mt-14 flex gap-6">
    <button class="px-4 py-1 bg-transparent border-2 border-[#01FFBB] rounded-[12px] text-[25px] font-semibold text-[#01FFBB] " routerLink="contact">Let's Connect ✈️</button>
    <button class="px-4 py-1 bg-[#01FFBB] rounded-[12px] text-[25px] font-semibold text-black " routerLink="works">Checkout My Works !</button>
  </div>

  <div class="scroll mt-[30px] h-[150px]">
    <img src="" alt="">
  </div>
</div>
