<div class="main-container text-white w-full h-hull">
  <div class="frame flex gap-4 justify-between w-full pt-[100px]">
    <div class="text h-[618.3px] flex flex-col justify-end pl-20 w-4/6">
        <div>
          <p class="text-[30px] font-normal">Hello 👋, I'm</p>
          <h1 class="text-[100px] font-semibold">Abhishek Mohan<span class="pl-5 text-[#01FFBB]">A</span></h1>
        </div>
        <div class="pt-[30px]">
          <p class="text-[40px] font-semibold text-[#01FFBB]">Software Engineer</p>
          <p class="font-light text-[24px] pt-[50px] pr-16">{{tagline}}</p>
        </div>

    </div>

    <div class="memoji h-[618.3px] pt-12 w-2/6">
      <img width="631px" height="618.3px" src="assets/images/memoji-mac 1.png" alt="">
    </div>
  </div>

  <div class="scroll mt-[30px] h-[150px]">
    <img src="" alt="">
  </div>
</div>
