.main{
  /* background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(20, 170, 148)); */
  background: -webkit-linear-gradient(rgb(255, 255, 255), #9B9CA1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* section .animate{
 transition: 1s;
}

.sec-1 .animate{
  transform: translateX(-100%);
}

.sec-1.show-animate .animate{
  transform: translateX(0);
} */

.navBar {
  animation: navAnim 1s forwards 0.3s;
  opacity: 0;
}

.translateRight {
  transform: translateY(-200%);
}

@keyframes navAnim {
  from {
    margin-top: -10rem;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

/* tablet */
@media only screen and (max-width: 900px) {
  .frame{
    display: flex;
    flex-direction: column-reverse;
  }

  .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }

  .main-header{
    font-size: 55px;
  }

  .typing{
    font-size:32px;
    padding: 50px;
  }

  .tagline{
    padding-right: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size:22px
  }

  .memoji{
    display: none;
  }
}

/* mobile  */
@media only screen and (max-width: 440px) {
  .frame{
    width: 100%;
    padding-left: 15px;
    padding-right:15px;
  }


  .hi{
    font-size: 20px;
  }

  .main-header{
    font-size: 55px;
  }

  .typing{
    font-size:25px;
    padding: 50px;
  }

  .tagline{
    padding-right: 10px;
    padding-left:10px;
    padding-top:70px;
    padding-bottom: 70px;
    font-size:18px;
    text-align: center;
  }

  .reach{
    flex-direction: column;
  }

}
