<app-navbar class=""></app-navbar>
<div class="main-container text-white w-full h-screen flex flex-col items-center">
  <div class="frame  flex  gap-4 justify-between w-10/12 pt-[100px]">
    <div class="text h-full flex flex-col justify-around py-12  w-3/6">
        <section class="sec-1">
          <p class="animate text-[30px] font-normal hi">Hello 👋, I'm</p>
          <h1 class="animate main-header text-[80px] font-semibold">Abhishek Mohan<span class="pl-5 text-[#01FFBB]">A</span></h1>
          <!-- <ngx-typed-js [strings]="['Abhishek Mohan A']" [showCursor]="false" [typeSpeed]="80">
            <h1 class="typing text-[100px] font-semibold"></h1>
          </ngx-typed-js> -->
        </section>
        <div>
          <!-- <p class="text-[40px] font-semibold text-[#01FFBB]">Software Engineer</p> -->
          <ngx-typed-js [strings]="['Software Engineer','Frontend Developer','Hodophile','Fitness Freak']" [showCursor]="false" [backSpeed]="25" [loop]="true">
            <h1 class="typing text-[40px]  font-semibold text-[#33C6AB] h-[30px]"></h1>
          </ngx-typed-js>
          <p class="font-extralight text-[18px] pt-[50px] pr-16 text-[#9B9CA1] tagline">{{tagline}}</p>
        </div>

        <div class="reach  flex gap-6">
          <a class="px-6 py-1 bg-transparent border-[1px] hover:border-[#33C6AB] border-[#0F0F0F] rounded-[12px] text-[18px] font-semibold text-[#33C6AB] " href="#contact">Let's Connect ✈️</a>
          <a class="px-6 py-1 bg-[#33C6AB] hover:border-[1px] hover:text-[#33C6AB] hover:border-[#33C6AB] hover:bg-transparent rounded-[12px] text-[18px] font-semibold text-black " href="#works">Checkout My Works !</a>
        </div>

    </div>

    <div class="memoji h-full w-2/6">
      <img class="memo" width="631px" height="618.3px" src="assets/images/memoji-final.png" alt="">
    </div>
  </div>

  <!-- <div class="scroll mt-[30px] h-[150px]">
    <img src="" alt="">
  </div> -->
</div>
