<div class="main-container h-full w-full px-20 flex-col flex justify-center  mt-[25px] pt-[25px]" id="works">
  <h1 class="main text-[40px] font-semibold pb-8 text-center">My Works</h1>
  <div class="content w-full flex lg:flex-row tablet:flex-col tablet:items-center lg:justify-between  gap-[50px] h-full lg:px-20 tablet:px-0">

     <!-- <div class="work w-full "> -->
        <ng-container *ngFor="let item of works">
          <!-- <div class=""> -->
            <div class=" cards flex flex-col rounded-[10px] w-[300px] h-[300px] px-6 py-6 justify-center items-center">
              <img src="{{item.image}}" alt="" class="w-[100px] h-[100px] tablet:w-[70px] tablet:h-[70px]">
              <h1 class=" text-[24px] text-center text-white  pt-2">{{item.title}}</h1>
              <h1 class="text-[18px] text-center font-light  pt-2 text-[#9B9CA1]">{{item.description}}</h1>
            </div>
          <!-- </div> -->
        </ng-container>
     <!-- </div> -->
  </div>
</div>
